{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }, 
  "rules": {
    "semi": "off",
    "linebreak-style": ["error", "windows"],
    "require-jsdoc": "off",
    "eol-last": "off",
    "comma-dangle": "off",
    "no-multi-spaces": ["error"],
    "arrow-parens": "off",
    "operator-linebreak": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
